ul {
    padding: 20px;
    position: sticky;
    top: 0;
    background-image: url('../../bgImage/background-image.png');
    background-attachment: fixed;
    background-size: cover;
    z-index: 9999;
}

#topNav {
    border-bottom: 0px;
}
