/* #contact-form {
    justify-content: center;
    padding-top: 50px;
    padding-left: 30%;
    padding-right: 30%;
} */

#contact-form {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* margin: 0 40px 80px; */
    /* margin-top: 6%;
    margin-left: 29%; */
    margin: 6% auto;
    max-width: 800px;
    width: 80vw;
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgb(35 35 35 / 16%);
    opacity: 0.8;

}

#contactHeader {
    text-align: center;
}

button {
    font-size: 1rem;
    text-decoration: none;
    padding: 0.25rem 1rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0 1px;
    background-color: var(--secondary);
  }

  #contactText {
    font-size: 20px;
	font-weight: bold;
    color: wheat;
    display: block;
    justify-content: center;
    padding-left: 10px;
    text-align: center;
  }

  #textArea{
      width: 100%;
      border-radius: 10px;
      color: black;
      text-align: center;
  }